body{
    font-family: arial;
    color: #333;
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}
form{
    width: 90%;
    margin: 20px auto;
}
input{
    display: block;
    padding: 8px 16px;
    font-size: 2em;
    margin: 10px auto;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid #ccc;
    outline: none !important;
}
.valid {
    border-color: #36cc36;
}
.invalid {border-color:orange}

input + p {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    color: orange;
    opacity: 0;
    height: 0;
}
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}